.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.banner h1 {
  color: #FF9900;
  margin: 0;
  font-size: 2em;
}

.brand {
  color: #FF9900;
  margin: 0;
  font-size: 1em;
}

.buttons {
  display: flex;
  gap: 10px;
}

/* login et signUp */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.buttons button,
.auth-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF9900;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover,
.auth-buttons button:hover {
  background-color: #cc7a00;
}
