
<h1>Toutes les séries </h1>

<h2>Les plus populaire du moment : </h2>

<div class="ffx">
  @for (serie of series(); track $index) {
    <div class="serie">
      <div class="Titre">
        <p>Titre: {{serie.name}}</p>
      </div>

      <div class="card"
        (click)="setActiveCard($index)" 
        [style.z-index]="activeCardIndex === $index ? 10 : 1">
        <div class="overflow">{{serie.overview}}</div>
        <div class="popularity">{{serie.popularity}} vues</div>
        <img src="https://image.tmdb.org/t/p/w1280{{serie.poster_path}}" alt="{{serie.name}}">
      </div>
    </div>
  }

</div>

<h2>Les dernières sorties : </h2>
<div class="ffx">
  @for (serieLatest of seriesLatest(); track $index) {
    <div class="serie">
      <div class="Titre">
        <p>Titre: {{serieLatest.name}}</p>
      </div>
      <div class="card">
        <div class="overflow">{{serieLatest.overview}}</div>
        <img src="https://image.tmdb.org/t/p/w1280{{serieLatest.poster_path}}" alt="{{serieLatest.name}}">
      </div>
    </div>
  }
</div>

<h2>Diffusé aujourd'hui : </h2>
<div class="ffx">
  @for (serieToday of seriesToday(); track $index) {
    <div class="serie">
      <div class="Titre">
        <p>Titre: {{serieToday.name}}</p>
      </div>
      <div class="card">
        <div class="overflow">{{serieToday.overview}}</div>
        <img src="https://image.tmdb.org/t/p/w1280{{serieToday.poster_path}}" alt="{{serieToday.name}}">
      </div>
    </div>
  }
</div>